<%= form_for(@starter) do |f| %>
  <% if @starter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@starter.errors.count, "error") %> prohibited this starter from being saved:</h2>

      <ul>
      <% @starter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :upvotes %><br>
    <%= f.text_field :upvotes %>
  </div>
  <div class="field">
    <%= f.label :downvotes %><br>
    <%= f.number_field :downvotes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
