<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @starter.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @starter.category %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @starter.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @starter.downvotes %>
</p>

<%= link_to 'Edit', edit_starter_path(@starter) %> |
<%= link_to 'Back', starters_path %>
